/* 🔥 BIG LUCKY OFFER BOX */
.offer-box{
  background: linear-gradient(135deg,#ff512f,#dd2476);
  color:white;
  padding:50px;
}

.offer-box h1{
  font-size:40px;
  margin-bottom:10px;
}

.offer-box input{
  padding:15px;
  width:250px;
  font-size:18px;
  border:none;
  border-radius:8px;
  margin-top:15px;
}

.offer-box button{
  padding:15px 30px;
  font-size:18px;
  margin-top:15px;
  background:#000;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

#result{
  margin-top:20px;
  font-size:28px;
  font-weight:bold;
}
